{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Shares</th>
        <th>Price</th>
        <th>Time of Transaction</th>
      </tr>
    </thead>
    {% for timeof in transaction_history %}
      <tr>
        <td>{{ timeof.symbol }}</td>
        <td>{{ timeof.shares }}</td>
        <td>{{ timeof.price }}</td>
        <td>{{ timeof.time }}</td>
      </tr>
    {% endfor %}
    </table>

{% endblock %}